# 5. Variables in Python

In [1]:
print("Hello Python!!!")

Hello Python!!!

# Variable Declaration

In [3]:
a = 5
b = 7
print("a + b = ", a + b)
print("Address :", id(a))

a + b =  12
Address : 8791203025856

In [4]:
# Get all keywords
import keyword as kw
print("Python Keywords:", kw.kwlist )

Python Keywords: ['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [8]:
#type of variable
print(type(a))
print(type("ABCD"))
print(type(id(a)))

<class 'int'>
<class 'str'>
<class 'int'>

In [9]:
#multiple assignments in single line
p, q, r = 2,3,4
print(p,q,r)

2 3 4

# 6. Numerical Operations

In [12]:
a = 10
b = 25
print(a + b)
print(a - b)
print(a * b)
print(a / b)
print(a // b) #Floor division. will give floor value of division
print(a % b)
print(b ** a)

35
-15
250
0.4
0
10
95367431640625

In [14]:
#Operators
a += 9
print(a)
a -= 6
print(a)

19
13

In [16]:
import math as m
x = 2
print(m.log(x))
print(m.log(100))

0.6931471805599453
4.605170185988092

# 7. Logical Operations

In [18]:
print(3 < 4)
print(True and False)
print(True or False)
print(a != b)
print(a == b)
print(True and not False)
print(type(True))

True
False
True
True
False
True
<class 'bool'>

# 8. If - Elif - Else  blocks

In [3]:
num = int(input("Enter any number:"))
if num > 0:
    print(num, " is positive number.")
elif num == 0 :
    print("0 is entered")
else : 
    print(num, " is negative number.")

Enter any number:-1
-1  is negative number.

# 9.1 For  Loops

In [7]:
subjects = ["Maths", "Science", "History", "Civics"]

for i in range(4):
    print(len(subjects[i]))

5
7
7
6

In [9]:
for i in  range(1,10,3):
    print(i)

1
4
7

In [11]:
str = ''
for i in range(0,9):
    if i < 5:
        str += '* '
        print(str)
    elif i > 4 :
        str = str[:-2]
        print(str)

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

# 9.2 While loop:

In [1]:
i = 5
while i > 0:
    print(i)
    i -= 1

5
4
3
2
1

# 10. Functions

In [2]:
#documentation
def triple(num):
    """
    Function to triple number
    """
    return 3 * num

In [5]:
triple(5)

15

In [8]:
print(triple.__doc__)

    Function to triple number

In [11]:
#factorial
def factorial(n):
    if n > 1:
        return n * factorial(n-1)
    else:
        return n

factorial(5)

120

In [13]:
#multiple/varargs argument
def printAndSumAll(*args):
    print(args)
    return sum(args)

printAndSumAll(1,2,3,4,5)

(1, 2, 3, 4, 5)

15

In [15]:
#Lambda Functions
captain = "Virat Kohli"
str_to_list = lambda x : x.split()
print(str_to_list(captain))
type(str_to_list)

['Virat', 'Kohli']

function

In [17]:
multiply = lambda x,y : x*y
multiply(4,6)

24

# 11. String Operations in Python

In [4]:
x = "Python"
print(len(x))
print(x.upper())
print(x.lower())

y = "String Operations in Python     "
print(y.rstrip())

#By default rstrip will remove spaces at right. if characters are given as parameter, it will remove those.

z= "4%%"
print(z.rstrip("%"))

a = "   Python"
print(a.lstrip())

b = "  Hello Python   "
print(b.lstrip().rstrip())

#Substring
c ="4 Apples"
print("Total Apples are::", c[0])
print("c[2:] = ", c[2:])
print("c[2:5]= ", c[2:5])
print("c[:4]=", c[:4])  #Similar to c[0:4]
print("c[:-3]=",  c[:-3]) #Similar to c[0:len(c)-3]
print("c[0:len(c)-3] =" , c[0:len(c)-3])
print("c[3:-1] =", c[3:-1])  #similar to c[3:len(c)-1]

num = "1234567890"
print("num[1::2]", num[1::2])  #characters from index 1 with step of 2
print("num[0::2]", num[0::2])
print("num[::2]", num[::2])    #same as num[0::2]

#Replace
print("Replace::", c.replace("p", "Q"))

#Concat
print("123" + "456")

#String Formatting
A = "Data"
B = "Analysis"
C = "Numpy"
print("{0} {1} using {2}".format(A,B,C))

#str function. similar to toString() in java
#if str not used, gives error as:: TypeError: can only concatenate str (not "int") to str
age = 20
msg = "I am " + str(age) + " years old"
print(msg)

6
PYTHON
python
String Operations in Python
4
Python
Hello Python
Total Apples are:: 4
c[2:] =  pples
c[2:5]=  App
c[:4]= 4 Ap
c[:-3]= 4 App
c[0:len(c)-3] = 4 App
c[3:-1] = pple
num[1::2] 24680
num[0::2] 13579
num[::2] 13579
Replace:: 4 AQQles
123456
Data Analysis using Numpy
I am 20 years old

# 12. Lists in Python

In [7]:
#EMpty List
l  = []
print(l)
type(l)

[]

list

In [39]:
languages = ["R", "Python", 'Java', "C"]
print("languages[1]::", languages[1])

#subset of list
print("languages[1:4]::", languages[1:4])
print("languages[-2]::", languages[-2])
print("languages[1:]::", languages[1:])
print("languages[:-2]::", languages[:-2])

#adding to list
languages.append("C++")
languages.append(95)   #can add integers too in list
print(languages)

#Removing elements from list
#remove last element from list
languages.pop()   #95 gets removed
print(languages)

#removing element with index
languages.pop(1)  #Python gets removed
print(languages) 

#copying new list. as list objects are mutable.
newLangs = languages[:]
print("id(languages)::", id(languages))
print("id(newLangs)::", id(newLangs))

langsCopy = languages.copy()
langsCopy.insert(2,"Python")
print("langsCopy::", langsCopy)
print("languages::", languages)

#Spliting strings will give lists
mail = "Python is good language for Machine Learning. You should learn it."
words = mail.split()
print(words)

stmts = mail.split(".")
print(stmts)

#Joining elements in list
newStmt = ".".join(stmts)
print(newStmt)

newLangs = ",".join(langsCopy)
print(newLangs)

#adding lists 
newLSt = stmts + langsCopy
print(newLSt)

#size of list
print("len(newLSt)::", len(newLSt))

#miscellaneous functions
nums = [1,2,3,4,5,6,7,8,9,10]
print("nums[1::2]::",  nums[1::2])

nums[3] = 11
print(nums)

print("sorted(nums)::", sorted(nums))
print("max(nums)::", max(nums))
print("min(nums)::", min(nums))

#List of Lists
lslst = [[1,2,3,4], [5,6,7], [8,9]]
print(lslst)
print("lslst[1][2]::",lslst[1][2])

languages[1]:: Python
languages[1:4]:: ['Python', 'Java', 'C']
languages[-2]:: Java
languages[1:]:: ['Python', 'Java', 'C']
languages[:-2]:: ['R', 'Python']
['R', 'Python', 'Java', 'C', 'C++', 95]
['R', 'Python', 'Java', 'C', 'C++']
['R', 'Java', 'C', 'C++']
id(languages):: 108101512
id(newLangs):: 108099080
langsCopy:: ['R', 'Java', 'Python', 'C', 'C++']
languages:: ['R', 'Java', 'C', 'C++']
['Python', 'is', 'good', 'language', 'for', 'Machine', 'Learning.', 'You', 'should', 'learn', 'it.']
['Python is good language for Machine Learning', ' You should learn it', '']
Python is good language for Machine Learning. You should learn it.
R,Java,Python,C,C++
['Python is good language for Machine Learning', ' You should learn it', '', 'R', 'Java', 'Python', 'C', 'C++']
len(newLSt):: 8
nums[1::2]:: [2, 4, 6, 8, 10]
[1, 2, 3, 11, 5, 6, 7, 8, 9, 10]
sorted(nums):: [1, 2, 3, 5, 6, 7, 8, 9, 10, 11]
max(nums):: 11
min(nums):: 1
[[1, 2, 3, 4], [5, 6, 7], [8, 9]]
lslst[1,2]:: 7

# 13. Tuples

In [2]:
# Tuples are data structures in similar aspect as list but do not allow modifications

In [15]:
city = ("Pune", 5.8, 20)
print(type(city))

#accessing elements in tuple
print("city[0]::", city[0])

#this will throw error
city[1] = 123

<class 'tuple'>
city[0]:: Pune

TypeError: 'tuple' object does not support item assignment

In [16]:
#this will throw index error
print("city[3]:", city[3])

IndexError: tuple index out of range

In [21]:
#subsetting tuples
print("city[:-1]::", city[:-1])
print("length of tuple::", len(city))

#declaring tuple another way
new1 = 123, 5.6, "Python"
print(type(new1))

#this will add new1 as tuple element inside new2
new2 = new1, 4, 5, "Java"
print(new2)
print("new2[0]::", new2[0])

#tuple of tuples 
new3 = new1, (1,2,3,4,5)
print(new3)

#tuple of lists
new4 = ([1,2,3], [4,5,6], [7,8,9])
print("new4:::",new4)

#can modify list inside tuple
new4[1][1] = 10
print("modified new4:::",new4)

#converting list into tuple and vice versa
new1Lst = list(new1)
print("new1Lst::", new1Lst)

new1Tuple = tuple(new1Lst)
print("new1Tuple::", new1Tuple)

city[:-1]:: ('Pune', 5.8)
length of tuple:: 3
<class 'tuple'>
((123, 5.6, 'Python'), 4, 5, 'Java')
new2[0]:: (123, 5.6, 'Python')
((123, 5.6, 'Python'), (1, 2, 3, 4, 5))
new4::: ([1, 2, 3], [4, 5, 6], [7, 8, 9])
modified new4::: ([1, 2, 3], [4, 10, 6], [7, 8, 9])
new1Lst:: [123, 5.6, 'Python']
new1Tuple:: (123, 5.6, 'Python')

# 14. Sets

In [24]:
studGrads = ['A', 'A', 'B', 'B', 'C', 'C', 'D', 'D']
gradeSet = set(studGrads)
print("gradeSet::", gradeSet) 

print(type(gradeSet))

gradeSet:: {'C', 'B', 'D', 'A'}
<class 'set'>

In [39]:
#Set Operations
grads2 = ['A', 'N', 'F', 'N', 'G', 'A']
grads2 = set(grads2)
print("grads2::", grads2)


#Intersection
print("gradeSet.intersection(grads2):::", gradeSet.intersection(grads2))

#Union
print("gradeSet.union(grads2):::", gradeSet.union(grads2))

#Difference
print("gradeSet.difference(grads2):::", gradeSet.difference(grads2))

#element present or not
print("'A' in grads2::",'A' in grads2)
print("'B' in grads2::",'B' in grads2)

#printing all elements in set
for gd in grads2:
    print(gd)
    
#set is subset or not    
print("grads2.issubset(gradeSet)::", grads2.issubset(gradeSet))

#symmetric Difference. Set of elements which are not common in both sets
print("grads2.symmetric_difference(gradeSet):::",grads2.symmetric_difference(gradeSet))

grads2:: {'G', 'F', 'N', 'A'}
gradeSet.intersection(grads2)::: {'A'}
gradeSet.union(grads2)::: {'D', 'F', 'N', 'C', 'B', 'A', 'G'}
gradeSet.difference(grads2)::: {'C', 'D', 'B'}
'A' in grads2:: True
'B' in grads2:: False
G
F
N
A
grads2.issubset(gradeSet):: False
grads2.symmetric_difference(gradeSet)::: {'D', 'F', 'N', 'C', 'B', 'G'}

set

# 15.Dictionary (Key-Value Pairs)

In [17]:
dict = {"Actor": "Johny Depp", "Animal":"Cat", "earth":3, "list":[1,2,3]}
print(dict)

#accessing elements in dictionary
print("dict[\"earth\"]::",dict["earth"])
print(type(dict))

print("EMpty dictionary::", {})

print("dict.get(\"list\"):::", dict.get("list"))

#Accessing elements in dictionary which is not present
print("dict.get(1, 'NA')::", dict.get(1,"NA"))

#Setting element in dictionry
dict["ABC"] = 123
print("dict['ABC']::",dict['ABC'])

#is element present in dictionary
print("'ABC' in dict::", 'ABC' in dict)

#printing keys in dictionary
print("dict.keys()::", dict.keys())
print("list(dict.keys())::", list(dict.keys()))

#printing all values in dictionary
print("list(dict.values())::", list(dict.values()))

{'Actor': 'Johny Depp', 'Animal': 'Cat', 'earth': 3, 'list': [1, 2, 3]}
dict["earth"]:: 3
<class 'dict'>
EMpty dictionary:: {}
dict.get("list")::: [1, 2, 3]
dict.get(1, 'NA'):: NA
dict['ABC']:: 123
'ABC' in dict:: True
dict.keys():: dict_keys(['Actor', 'Animal', 'earth', 'list', 'ABC'])
list(dict.keys()):: ['Actor', 'Animal', 'earth', 'list', 'ABC']
list(dict.values()):: ['Johny Depp', 'Cat', 3, [1, 2, 3], 123]

In [24]:
#updating a a dictionary
d1 = {'country':"India", 'Songs':["Blue Eyes", "Night Party"]}
print(d1)

dict.update(d1)
print(dict)

#removing element from dictionary
del dict['Actor']
print(dict)

{'country': 'India', 'Songs': ['Blue Eyes', 'Night Party']}
{'Animal': 'Cat', 'earth': 3, 'list': [1, 2, 3], 'ABC': 123, 'country': 'India', 'Songs': ['Blue Eyes', 'Night Party']}
len(dict):: 6

In [27]:
#size of dictionary
print("len(dict)::",len(dict))

#iterating dictionary
for a,b in dict.items():
    print(a, "::", b)

len(dict):: 6
Animal :: Cat
earth :: 3
list :: [1, 2, 3]
ABC :: 123
country :: India
Songs :: ['Blue Eyes', 'Night Party']

# 16. Python Comprehensions

In [28]:
#python comprehensions are syntactic constructs that enable sequences to be rebuild from another sequences in clear and concise
#mode. These comprehensions give performance

In [32]:
squares_list = []

for x in range(1,10):
    squares_list.append(x ** 2 )

print (squares_list)

#Another way using comprehensions:
squares_list2 = [x **2 for x in range(1,10)]
print(squares_list2)

[1, 4, 9, 16, 25, 36, 49, 64, 81]
[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [36]:
para = ['The Quick Brown Fox', "Jumps Over Lazy Dog", 'And Ran into Jungle']
word_list = []

for stmt in para:
    for word in stmt.split():
        word_list.append(word)

print(word_list)    

#Another way using comprehensions:
word_list2 = [word for stmt in para for word in stmt.split()]
print(word_list2)

['The', 'Quick', 'Brown', 'Fox', 'Jumps', 'Over', 'Lazy', 'Dog', 'And', 'Ran', 'into', 'Jungle']
['The', 'Quick', 'Brown', 'Fox', 'Jumps', 'Over', 'Lazy', 'Dog', 'And', 'Ran', 'into', 'Jungle']

In [38]:
squared_map = {num : num **2 for num in range(1,10)}
print(squared_map)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [41]:
students = {1:{"Shiva", 25}, 2:["Om", 30], 3:["KD", 28], 4:["RD", 27]}

rollno_names = {}

for rollno, details in students.items():
    if rollno % 2 == 0:
        rollno_names[rollno] = details[0]
        
print(rollno_names)

#Another way using comprehensions:
rollno_names2 = {rollno:details[0] for rollno, details in students.items() if rollno %2 ==  0}
print(rollno_names2)

{2: 'Om', 4: 'RD'}
{2: 'Om', 4: 'RD'}